body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1cc3cf; /* A light grey background */
    color: #b45c05;
}

h1 {
    color: #c70606;
}

p {
    line-height: 1.6;
}
.container {
   max-width: 800px;
   margin: 0 auto; /* Center the content */
   padding: 15px;
   background-color: #ffffff;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   border-radius: 8px;
}